<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_9" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Contagion</display-name>
	<description>Contagion</description>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>

  	<context-param>
        <param-name>parentContextKey</param-name>
        <param-value>domain.context</param-value>
    </context-param>
 	
 	<context-param>
    	<param-name>webContextPath</param-name>
    	<param-value>/clue-hunter-web</param-value>
    </context-param>
    	
	<context-param>
		<param-name>debugMode</param-name>
		<param-value>DEBUG</param-value>
	</context-param>

  	<filter>
    	<filter-name>sitemesh</filter-name>
    	<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  	</filter>
  	<filter>
	    <filter-name>struts-cleanup</filter-name>
	    <filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
  	</filter>
  	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <init-param>
    	    <param-name>actionPackages</param-name>
            <param-value>com.idcl.textimania.struts</param-value>
        </init-param>
		<init-param>
			<param-name>struts.enableJSONValidation</param-name>
			<param-value>true</param-value>
		</init-param>               
	</filter>

  	<filter-mapping>
	    <filter-name>struts-cleanup</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
  	</filter-mapping>
  	<filter-mapping>
	    <filter-name>sitemesh</filter-name>
	    <url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
 	</filter-mapping>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	    <dispatcher>REQUEST</dispatcher>
	    <dispatcher>FORWARD</dispatcher>
	    <dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
